

### Ignore virtual envs
venv/
.venv/

### Ignore items inside experiment file
experiments/

### Ignore MacOS Files
.DS_Store/

### Ignore PyCache
__pycache__/
*.pyc.*
*.pyc

### Ignore IDE Files
.idea/
.vs-code/